body {
    background-color: rgb(241, 174, 185);
}

#profile-picture {
  border-radius: 50%;
  width: 300px;
}

.intro {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 5rem;
}

.summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.projects {
  display: flex;
  padding: 20%;
}